body {
    background-color: #cbad7e;
    font-family: 'chewy'; 
    line-height: 3em;
}
.links {
    color: inherit;
    text-align: right;
    right: 0;
    background-color: #e37222;
    left: -90px;
    top: -10px;
    
}


li {
    display: inline;
    position: relative;
    margin: 10px;
    
}

a {
    color: inherit;
}

nav {
    font-size: 50px;
    position: fixed;
    
}

footer {
    background-color: #e37222;
    position: relative;
    margin: -8px;
    
}


.fa {
    padding: 10px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 1;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
    margin: 0px 5px;
    max-width: 50%;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white; 
    max-width: 50%;
    
}




.copyrights {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    margin: 10px;
    font-size: 10px;
    }
  
.page-header {
    text-align: center;
    font-size: 70px;
    text-decoration: underline
}


.break {
    background: linear-gradient(to right,#cbad7e, #5c4c32, #cbad7e);
    height: 4px;
    
    border: 0;
}

.Catalogue-type {
    text-align: center;
    font-size: 50px;
}

.carrot {
    width: 1000px;
}


.container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
}

.price {
    font-size: 50px;
    text-indent: 200px;
    
}
.velvet {
    width: 600px;
    
}

.Chocolate {
    width: 800px;

}

.Sponge {
    width: 800px;
}

.Recipes-header {
    text-align: center;
    font-size: 50px;
}

.Recipes-image {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.Recipes-text {
    text-align: center;
    font-size: 25px;
}

.text {
    font-size: 25px;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 30px;
}

.ben {
    width: 500px;
    font-size: 20px;
}

.quotes {
    text-indent: 90px;
    font-size: 40px;
}

.checked {
    color: yellow;
    float: right;
    
  }



  input[type=button], input[type=submit], input[type=reset] {
    background-color: #e37222;
    border: none;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  input[type=text]  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #e37222;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }


  input[type=text]:focus {
    border: 3px solid #000000;
  }



  .ourcontacts {
    font-size: 30px;
    text-align: center;
  }


